# faut Copie ce fichier en .env et remplis avec les infos du projet Supabase(c'est fait) :
# Supabase → Project Settings → API

SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_KEY=ta_service_role_key
